* {
    margin: 0px;
    padding: 0px;
}

/* nav bar */


nav {
    background-color: white;
    color: black;
    font-size: larger;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: orange;

}


nav li {
    display: flex;
}

nav a {
    padding-inline: 20px;
    padding-block: 10px;
    text-decoration: none;
    color: white;
    position: relative;
}

nav .logo {
    margin-right: auto;
}

nav .panier {
    padding-left: 50px;
}

nav a:hover {
    background: rgb(255, 185, 54);
    color: black;
}

/* //// */
/* icon */
/* //// */

.icon {
    height: 20px;
    position: absolute;
    left: 10px;
}

.panier-counter {
    position: absolute;
    left: 25px;
    top: 2px;
    /* font-style: italic; */
    color: red;
    background-color: white;
    border-radius: 10px;
    padding: 1px;
    font-family: sans-serif;
    font-size: .8em;
    height: 16px;
    width: fit-content;

}

/* /////// */
/* section */
/* /////// */

section {
    display: flex;
    flex-direction: column;
    padding-inline: 10%;

}

/* //////////// */
/* produit card */
/* //////////// */



section ul{
    list-style: none;
}
.produit-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid orange;

}

.produit-header {
    display: flex;
}

.produit-card img {
    height: 200px;

}

.produit-card .title {
    width: 100%;
    font-size: 1.3em;
    padding: 10px;
    font-weight: bold;
}

.produit-card .prix {
    font-size: 1.3em;
    padding: 10px;
    width: 100%;
    text-align: end;
    /* display: flex; */
}


.produit-footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.produit-card .quantite {
    display: flex;
    align-items: center;
}

.produit-card .quantite * {
    margin-inline: 5px;
}

.produit-card button {
    background-color: orange;
    border: 1px solid gray;
    font-size: 1.1em;
    padding-inline: 20px;
    border-radius: 4px;

}

.produit-card button:hover {
    background-color: rgba(255, 166, 0, 0.818);
    cursor: pointer;
}

/* h1 h3 */

h1{
    color: orange;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

h3{
    margin-top: 10px;

    font-weight: bold;
}

/* //////////// */
/* confermation */
/* //////////// */

.confermation{
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.confermation button {
    background-color: orange;
    border: 1px solid gray;
    font-size: 1.1em;
    padding-inline: 20px;
    border-radius: 4px;

}

.confermation div{
    font-size: 1.2em;
}
.confermation button:hover {
    background-color: rgba(255, 166, 0, 0.818);
    cursor: pointer;
}
/* ///// */
/* alert */
/* ///// */


.alert {
    border: 2px solid orange;
    box-shadow: 1px 1px 10px -5px black;
    padding: 10px;
    width: 80%;
    position: absolute;
    top: 100px;
    /* z-index: 3; */
    background-color: white;
}

.alert * {
    margin: 0px;
    padding: 0px;
}

.alert .alert_title {
    font-size: 1.2em;
    font-weight: bold;
}

.alert table {
    width: 100%;
    margin-block: 10px;
}

.alert table,
.alert tr,
.alert th,
.alert td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
}

.alert tr:first-of-type {
    background-color: rgb(230, 230, 230);
}

.alert .alert_prix_totale {
    font-weight: bold;
    margin-bottom: 10px;
}

.alert button {
    background-color: orange;
    border: 1px solid gray;
    padding-block: 5px;
    padding-inline: 20px;
    font-weight: bold;
    width: fit-content;
    margin-right: auto;
    width: 100%;
}

.alert button:hover {
    background-color: rgba(255, 166, 0, 0.728);
}

.alert button:active {
    background-color: rgb(188, 122, 0);
}